.watermelon {
    font-size: 26px;
}

.palm {
    font-size: 90px;
}

.tree {
    font-size: 30px;
}

.building {
    font-size: x-large;
}

.kiwi {
    font-size: 50px;
}

.cherries {
    font-size: medium;
}

.sparkles {
    font-size: small;
}

.banana {
    font-size: 10px;
}

.tree3 {
    font-size: 100px;
}

.strawberry {
    font-size: 38px;
}